.tracker-home {
  --ds-background: var(--ds-white);
  background-color: var(--ds-background);
  height: 100vh;
}

.tracker-home img.scanning {
  height: 40px;
  width: 40px;
}

.tracker-home footer {
  background-color: var(--ds-background);
  box-shadow: 0 0 8px var(--ds-background);
}

.tracker-home footer button {
  margin: 8px !important;
}

.pull-icon-down {
  margin-top: 34px !important;
}

.device {
  font-size: 12px;
  color: #aaa;
}

.device .mdi {
  color: #888 !important;
  padding-right: 6px;
  vertical-align: bottom;
}

.device h3 {
  color: var(--ds-black);
  font-size: 16px;
  margin: 8px 0;
  font-weight: normal;
}

.device span.detail {
  padding-top: 4px;
  padding-right: 16px;
  height: 16px;
  line-height: 16px;
}
