.main {
  --header-height: 64px;
  --footer-height: 56px;
  overflow: scroll;
}

.main header {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}

.main header .logo {
  --padding: 15px;
  padding: var(--padding) 0;
  height: calc(var(--header-height) - 2 * var(--padding));
  width: 100%;
  margin: 0 auto;
}

.main main {
  --padding: 8px;
  padding: calc(var(--header-height) + var(--padding)) 0 calc(var(--footer-height) + var(--padding)) 0;
}

.main footer {
  z-index: 1000;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
