.main {
  --header-height: 64px;
  --footer-height: 56px;
  overflow-y: auto;
  overflow-x: hidden;
}

.main header {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}

.main header .logo {
  --padding: 15px;
  padding: var(--padding) 0;
  height: calc(var(--header-height) - 2 * var(--padding));
  margin: 0 auto;
  width: 100vw;
  left: 0 !important;
  position: absolute;
}

@media (max-width: 350px) {
  .main header .logo {
    width: 100%;
    left: auto;
    position: relative;

  }
}

.main main {
  --padding: 8px;
  padding: calc(var(--header-height) + var(--padding)) 0 calc(var(--footer-height) + var(--padding)) 0;
}

.main footer {
  z-index: 1000;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
