@import url("colors.css");
@import url("fonts/fonts.css");
@import url("loading-bar.css");

a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

a.link {
  color: var(--ds-light-blue);
  text-decoration: none;
}

a.link:hover {
  color: var(--ds-light-blue-alt);
  border-bottom: 1px dotted var(--ds-blue-alt);
}

html {
  background: var(--ds-background);
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.center-text {
  text-align: center !important;
}

.right-text {
  text-align: right !important;
}

.left-text {
  text-align: left !important;
}

.center {
  margin: 0 auto !important;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.clear {
  clear: both !important;
}

.clear-right {
  clear: right !important;
}

.clear-left {
  clear: left !important;
}
