@import url("colors.css");
@import url("fonts/fonts.css");

a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

html {
  background: var(--ds-background);
  font-family: 'Roboto', sans-serif;
}
