
.loading-bar .bar-item {
  background: linear-gradient(90deg, #eee, #ddd, #eee) !important;
  background-size: 100vw !important;
  color: rgba(255, 255, 255, 0) !important;
  object-position: -100vw -100vh !important;
  animation: loading 2s infinite !important;
  transition: all 1s !important;
  border-radius: 5px !important;
}

.loading-bar .bar-item * {
  color: rgba(255, 255, 255, 0) !important;
  object-position: -100vw -100vh !important;
}

.loading-bar .bar-item:after {
  content: '...' !important;
  text-overflow: clip !important;
}

@keyframes loading {
  from {
    background-position-x: -100vw;
  }
  to {
    background-position-x: 100vw;
  }
}
