.video-frequencies {
  --ds-background: var(--ds-white);
  background-color: var(--ds-background);
  height: 100vh;
}

.video-frequencies p {
  color: #666;
  padding: 0 16px;
}

.video-frequencies footer {
  background-color: var(--ds-background);
  box-shadow: 0 0 8px 8px var(--ds-background);
  padding: 0 0 6px 0;
}

.video-frequencies .pad {
  padding: 0 0 0 28px;
}

.video-frequencies h4 {
  font-weight: normal;
  font-size: 20px;
}

.drop-down-width {
  top: 0 !important;
  min-width: 150px !important;
}
