.account {
  background: var(--ds-blue);
  text-align: center;
  margin: auto;
  padding: 10% 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}

.account .logo {
  padding: 10px;
  width: 75%;
  max-width: 500px;
  margin-bottom: 10px;
}

.account input, .account .btn {
  display: inline-block;
  text-decoration: none;
  margin: 10px;
  font-size: larger;
  width: 75%;
  padding: 10px;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0);
  outline: none;
  -webkit-appearance: none;
}

.account input.error {
  border: 1px solid red;
}

@media only screen and (max-width: 500px) {
  .account input[type='text']:focus,
  .account input[type='email']:focus,
  .account input[type='password']:focus {
    bottom: 38px;
    position: absolute;
    width: 100%;
    left: 0;
    margin: 10px 0;
    height: 28px;
    border: none;
    outline: none;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    box-shadow: 0 0 10000px 10000px rgba(0, 0, 0, 0.6) !important;
  }
}

.account input[type='submit'], .account .btn {
  --bg-color: var(--ds-orange);
  background: var(--bg-color);
  color: #fff;
  border-radius: 2px;
  min-width: 64px;
  padding: 0 8px;
  margin: 8px 8px 16px;
  line-height: 36px;
}

.account input[type='submit']:hover, .account .btn {
  --bg-color-alt: var(--ds-orange-alt);
  background: var(--bg-color-alt);
}

.account .btn {
  --bg-color: var(--ds-light-blue);
  --bg-color-alt: var(--ds-light-blue-alt);
  padding: 0;
}

.account .forgot-password {
  width: 75%;
  display: inline-block;
}
